.App {
  text-align: center;
}

.App-div{
  margin: 30px;
}

ul{
  list-style: none;
  list-style-type: none;
}
.App-nav-ul{
  list-style: none;
  list-style-type: none;
}
.App-nav-ul-links{
  text-decoration: none;
}

.App-div .App-nav-ul .App-header {
  height: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  text-align: center;
  text-decoration: rgb(134, 44, 134);
}
.login-div {
  border: dodgerblue;
  margin: 1%;
}

.login-div-form{
 border-color: dodgerblue;
 border-width: thick;
 border-style: solid;
 margin-left: 25%;
 margin-right: 25%;
 margin-top: 2% ;
 background-color: rgb(127, 171, 216);
}
.form-input{
  padding: 10px;
  margin-left: 18px;
  outline: none;
  width: 80%;
  margin: 3% ;
}

.form-input:focus {
  border: 2px solid dodgerblue;
}
.form-input-postimg-label{
  margin-right: 43% ;
  text-align: left;
}

.form-input-postimg{
  margin: 2%;
}

.form-button {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-weight: bolder;
  font-size: 21px;
}

.form-button:hover {
  opacity: 0.5;
}

.printform-h4{
  display: flex;
  font-size: x-large;
}

.feed-block{
  padding: 35px;
  list-style-type: none;
  text-decoration: none;
  text-decoration-style: none;
  border-color: dodgerblue;
  border-width: thin;
  border-style: solid;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3% ;
  background-color: rgb(179, 207, 235);
}

.feed-block-li{
  padding: 1%;
  margin: 1%;

}

.form-comment{
  padding: 1%;
}

.form-comment-label{
  margin: 2px;
  align-content: center;
  text-align: center;
  display: flex;
  padding: 1%;
  justify-content: center
}

.form-comment-textarea{
  max-width: unset;
  margin-left: 5px;
  margin-right: 3% ;
}

.comment-ul{
    background: #b5b2da;
    padding: 15px 15px 15px 5px;
}

.comment-ul ,.comment-ul-li {
  background-color: rgb(180, 207, 207);
  padding-left: 5px;
  margin: 5px 5px 5px 30px;
  padding: 2%;
}
.like-comment-button{
  background-color: rgb(112, 76, 148);
  border-radius: 15px;
  color:white;
  padding:1%;
  text-align: justify;
  text-decoration: unset;
  font-size: 14px;
}

.like-comment-button:hover{
  background-color: rgb(143, 114, 170);
}
